img#icon {
  height: 50px;
  width: 50px;
}

div {
  background-color: #313437;
  color: white;
  transition: ease .5s;
  opacity: 0.05;
  transform: translateX(-50px);
  text-align:center;
}

p {
  padding-top: 50px;
  font-size: 36pt;
  text-align: center;
}

#abstract {
  background-color: #181818;
  height: 2500px;
}

#activity {
  background-color: #313437;
  height: 2500px;
}

#schedule {
  background-color: #181818;
  height: 2500px;
}

#contact {
  padding-top: 100px;
  background-color: #313437;
  height: 2250px;
}

#contact > img {
  margin-top: 400px;
  width:  90%;
  height: auto;
}

.nav-link {
  color: white;
}

h1 {
  padding-top: 250px;
  padding-bottom: 50px;
  text-align:center;
  font-size: 48pt!important;
}

.contact-img {
  height: 80px;
  width: 80px;
}

.inline {
  margin-top: 100px;
  text-align: center;
}

.inline li {
  display: inline;
  margin-right: 3em;
}

#menu {
  display: none;
}

div.fadein {
  opacity: 1;
  transform: translateX(0px); 
}

header {
  font-size: 18pt;
}

.live-img {
  width:  200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block; 
  background-position: center;
  margin: 10px 20px 50px 20px;
}

.video {
  padding-top: 50px;
  background-color: #181818;
  opacity: 1;
  padding-left: 10%;
}

.video > iframe {
  display: block;
  margin: 0 auto;
}

.trip-img {
  width:  80%;
  height: auto;
  display: inline-block; 
  background-position: center;
}

#calendar > li {
  text-align: left;
  font-size: 36pt;
  margin: 80px;
}

/* タイムテーブル関係 */
caption {
  caption-side: top!important;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #181818;
  color: white!important;
}

table {
  width: 450px;
  float: left;
  margin-left: 5px;
}

th,td {
  border: 1px solid #fff;
  color: black;
}

th {
  width: 70px;
  font-size:12px;
  color: #fff;
  text-align: center;
  background-color: #2C3E5C;
  vertical-align: top;
}

td {
  height: 25px;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  background: #f3f4ef;
}

.borderNone {
  border-bottom: 1px solid #2C3E5C;
}

.color01{
  background:#D8C8AE;
}

.color02 {
  background: #80B7E8;
}

.line2 {
  height: 51px;
}

.line3 {
  height: 77px;
}

th.just {
  padding-top: 7px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

#schedule > div {
  opacity: 1;
  /* margin: 0 auto; */
  display: inline-block;
  background-color: #181818;
  padding-left: 70px;
}