img#icon {
  height: 50px;
  width: 50px;
}

div {
  background-color: #313437;
  color: white;
  transition: ease .5s;
  opacity: 0.05;
  transform: translateX(-50px);
  text-align:center;
}

p {
  padding-top: 50px;
  font-size: 36pt;
  text-align: center;
}

#abstract {
  background-color: #181818;
  height: 2500px;
}

#activity {
  background-color: #313437;
  height: 2500px;
}

#schedule {
  background-color: #181818;
  height: 2500px;
}

#contact {
  padding-top: 100px;
  background-color: #313437;
  height: 2250px;
}

.nav-link {
  color: white;
}

h1 {
  padding-top: 250px;
  padding-bottom: 50px;
  text-align:center;
  font-size: 48pt!important;
}

.contact-img {
  height: 80px;
  width: 80px;
}

.inline {
  margin-top: 100px;
  text-align: center;
}

.inline li {
  display: inline;
  margin-right: 3em;
}

#menu {
  display: none;
}

div.fadein {
  opacity: 1;
  transform: translateX(0px); 
}

header {
  font-size: 18pt;
}

.live-img {
  width:  200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block; 
  background-position: center;
  margin: 150px 20px;
}

.video {
  padding-top: 50px;
  background-color: #181818;
  opacity: 1;
  margin-left: 70px;
}

.video > iframe {
  display: block;
  margin: 0 auto;
}